@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="jumbotron">Creative Burrito Design</h1>
    <p>Select your choices on the next page to build and store a tasty burrito recipe!</p>
    <br />
    <a class="btn btn-info" href="Home/CreateBurrito">Start Here</a>
    <br />
</div>
