@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Creative Burrito Design</h1>
    <p>Select your choices on each page to build and store a tasty burrito recipe!</p>
    <br />
    <a class="btn btn-info" href="Home/TortillaSauce">Start Here</a>
    <br />
    <h2>Note: This project is unfinished. I am having trouble binding form inputs to one object,
    and there is a lack of bootstrap styling and images -
    (will add cosmetic things after the backend code is 100% working)</h2>
</div>
