@model BurritoMaker.Models.Recipe

@{
    ViewData["Title"] = "Rice&Beans";
}

<h1>Rice and Beans</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rice" class="control-label"></label>
                <select name="Rice" asp-for="Rice" class="form-control">
                    <option value="White">White</option>
                    <option value="Brown">Brown</option>
                </select>
                <span asp-validation-for="Rice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beans" class="control-label"></label>
                <select name="Beans" asp-for="Beans" class="form-control">
                    <option value="Refried">Refried</option>
                    <option value="Pinto">Pinto</option>
                    <option value="Black">Black</option>
                </select>
                <span asp-validation-for="Beans" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>
<br />
<a class="btn btn-info" href="MeatCheese">Next</a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
